@import 'interaction';

.btn {  
  margin: 0.2em;
  padding: 0.5em 0.8em;
  width: 8em;
  text-align: center;
}

.default {
  @include clickable('button-default');
}

.success {
  @include clickable('button-success');
}

.danger {
  @include clickable('button-danger');
}

.action-left {
  border-radius: 100%;
  align-self: flex-start;
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  @include clickable('button-default');
}

.action-right {
  border-radius: 100%;
  align-self: flex-end;
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  @include clickable('button-default');
}