@import 'interaction';

.btn {  
  margin: 0.2rem;
  padding: 0.5rem 0.8rem;
  width: 12rem;
  text-align: center;
}

.default {
  @include clickable-area('btn-default');
}

.success {
  @include clickable-area('btn-success');
}

.danger {
  @include clickable-area('btn-danger');
}

.action {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  @include clickable-area('btn-default');
}

.bar {
  display: flex;
  margin: -0.2rem;
  margin-bottom: 1em;
}