@import 'interaction';

.container {
  height: 4em;
  padding: 0;
  font: inherit;
  width: 4em;
  box-sizing: border-box;
  text-align: center;
  align-items: flex-start;
  display: block;
  @include clickable-area('btn-transparent');
}

.inactive {
  opacity: 0.25;
}

.disabled {
  pointer-events: none;
}

.activecell {
  @include section-tab;
}

.label {
  text-align: center;
}

.preview {
  font-size: 2em;
}

.grid {
  position: relative;
  height: 100%;
  overflow: auto;
  min-height: 6em;
}

.details {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  box-sizing: border-box;
  @include section-border;
}

.detailsspacer, .details {
  height: auto;
}

.gridcell {
  width: 4em;
  display: inline-block;
  vertical-align: top;
}

.emptyset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textcell {
  @extend .gridcell;
  height: 4em;
  padding-top: 1.5em;
  box-sizing: border-box;
}

@media print {
  .grid {
    height: auto;
  }
}