.container {
  position: relative;
  width: 100%;
  white-space: nowrap;
  margin: auto;
  height: 1.5em;
  text-align: center;
  max-width: 2em;
  overflow: hidden;
}

.subcontainer {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1000px;
  box-sizing: border-box;
}

.textcontainer {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.glyph {
  display: inline-block;
  overflow: visible;
  vertical-align: bottom;
  z-index: 1;
  flex-basis: 0;
  top: -0.1em;
  position: relative;
}

.rule {
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
}

.faded {
  opacity: 0.3;
  width: 3em;
  display: inline-block;
  text-overflow: clip;
  white-space: nowrap;
  vertical-align: top;
}

.edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  // background: linear-gradient(to right, white 5%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, white 95%);
}