.background {
  width: 100%;
  margin: -1em;
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
}

.previewText {
  display: block;
  width: 100%!important;
  padding: 0.25em;
  box-sizing: border-box;
  background-color: transparent;
  min-height: 6em;
  outline: none;
  color: inherit;
}

.inverted {
  background-color: #222;
  color: white;
}

.formcontainer {
  margin-bottom: 2em;
}