%menco-light {
  font-family: menco, sans-serif;
  font-weight: 500;
  font-style: normal;
}

%menco-bold {
  font-family: menco,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.basedemofont {
  font-family: base-demofont, sans-serif;
}

.demofont {
  font-family: demofont, sans-serif;
}

.display {
  @extend %menco-bold;
  text-align: center;
}

.links {
  @extend %menco-light;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.btn {
  @extend %menco-light;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.icon {
  width: 3em;
  pointer-events: none;
  text-align: center;
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0%;
  left: 0%;
}

.copyright {
  @extend %menco-light;
  margin-bottom: 1em;
  font-size: 0.9rem;
}

.small {
  font-size: 0.9em;
  opacity: 0.6;
}

.label {
  @extend %menco-light;
  font-size: 0.8em;
  display: block;
  margin-bottom: 0.5em;
}

.sectionheader {
  @extend %menco-bold;
  font-size: 1em;
}

.description {
  @extend %menco-light;
  font-size: 0.8em;
}

.input {
  @extend %menco-light;
  font-size: 1em;
}

.descriptor {
  @extend %menco-light;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.6;
}