%menco-light {
  font-family: menco, sans-serif;
  font-weight: 500;
  font-style: normal;
}

%menco-bold {
  font-family: menco,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.display {
  @extend %menco-bold;
  text-align: center;
}

.links {
  @extend %menco-light;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.btn {
  @extend %menco-light;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}