$theme-colors: (
  'primary': blue,
  'alert-default': #f8f8f8,
  'button-default': #dedede,
  'button-success': #b7ffe1,
  'button-danger': #ffc5b7,
  'border': #adadad,
  'bg-blank': white
);

@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key)
}

@mixin text-color($color) {
  background-color: $color;
  color: darken($color, 70%);
}