@import 'colors';

.description {
  font-size: 0.65em;
  padding: 0.7em 1em;
  z-index: 1;
}

.danger {
  @include text-color(theme-color('alert-danger'));
}

.default {
  @include text-color(theme-color('alert-default'));
}