.container {
  position: relative;
  width: 100%;
  white-space: nowrap;
  margin: auto;
  height: 1em;
  text-align: center;
  max-width: 2em;
  overflow: hidden;
}

.subcontainer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.textcontainer {
  display: flex;
}

.glyph {
  display: inline-block;
  overflow: visible;
  vertical-align: bottom;
  z-index: 1;
  position: relative;
  flex-basis: 0;
}

.rule {
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
}

.faded {
  opacity: 0.3;
  width: 100%;
  display: inline-block;
  flex-shrink: 1;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: baseline;
}
.edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  // background: linear-gradient(to right, white 5%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, white 95%);
}