@import 'colors';

.input, .container {
  display: block;
}

.input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid gray;
  transition-property: background-color, border-bottom-color;
  transition-duration: 250ms;
  width: 100%;
}

.input:focus {
  outline: none;
  border-bottom-color: theme-color();
  background-color: #dedede;
}