.preview {
  font-size: 5em;
}

.actions {
  padding-top:1em;
  display: flex;
  justify-content: flex-end;
}

.movement {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 500px;
  margin: auto;
  width: 100%;
}