$color-red: #dd1c1a;
$color-blue: #4392F1;
$color-yellow: #F0c808;
$color-black: #2b303a;
$color-white: white;
$color-offwhite: #e0ddcf;

$theme-colors: (
  'primary': blue,
  'alert-default': #f8f8f8,
  'alert-danger': #ffc5b7,
  'button-default': #dedede,
  'button-success': #b7ffe1,
  'button-danger': #ffc5b7,
  'border': #adadad,
  'bg-blank': white,
  'link': (
    'focus': (
      'bg': $color-yellow,
      'color': $color-black,
      'border': transparent
    ),
    'default': (
      'bg': transparent,
      'color': $color-blue,
      'border': transparent
    )
  ),
  'btn-default': (
    'focus': (
      'bg': $color-yellow,
      'color': $color-black,
      'border': $color-black
    ),
    'default': (
      'bg': lighten($color-black, 15%),
      'color': $color-white,
      'border': transparent
    ),
    'hover': (
      'bg': $color-black,
      'color': $color-white,
      'border': transparent
    )
  ),
  'btn-success': (
    'focus': (
      'bg': $color-yellow,
      'color': $color-black,
      'border': $color-black
    ),
    'default': (
      'bg': $color-blue,
      'color': $color-white,
      'border': transparent
    ),
    'hover': (
      'bg': darken($color-blue, 15%),
      'color': $color-white,
      'border': transparent
    )
  ),
  'btn-danger': (
    'focus': (
      'bg': $color-yellow,
      'color': $color-black,
      'border': $color-black
    ),
    'default': (
      'bg': $color-red,
      'color': $color-white,
      'border': transparent
    ),
    'hover': (
      'bg': darken($color-red, 15%),
      'color': $color-white,
      'border': transparent
    )
  )
);

@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

@function colorset($key: 'primary', $field: 'color') {
  @return map-get(map-get($theme-colors, $key), $field);
}

@mixin colors($key, $field) {
  $set: colorset($key, $field);

  background-color: map-get($set, 'bg');
  color: map-get($set, 'color');
  border-color: map-get($set, 'border');
}

@mixin text-color($color) {
  background-color: $color;
  color: darken($color, 70%);
}