@import 'colors';

$border-thickness: 0.05em;

%common-clickable {
  transition-property: background-color, border-color, color, transform;
  transition-duration: 250ms;
  cursor: pointer;
  outline: none;
}

@mixin section-tab {
  border: $border-thickness solid theme-color('border');
  border-bottom-color: white;
  position: relative;
  z-index: 1;
}

@mixin section-border {
  margin-top: -$border-thickness;
  border-top: $border-thickness solid theme-color('border');
  border-bottom: $border-thickness solid theme-color('border');
}

%clickable-text {
  @extend %common-clickable;
  @include colors('link', 'default');

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:focus {
    @include colors('link', 'focus');
  }
}

@mixin clickable-area($color: 'btn-default') {
  @extend %common-clickable;
  @include colors($color, 'default');
  &:hover, &:focus {
    transform: translate(0, -0.1rem);
  }
  &:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem);
  }
  &:hover {
    @include colors($color, 'hover');
  }
  &:focus {
    @include colors($color, 'focus');
  }
}