.cFAXvXTaJlY {
  font-size: 52pt;
  font-family: demofont, sans-serif;
  height: 12em;
  width: 100%; }

.c2ulvVOpLjN {
  font-size: 2em; }

.cjesN69IMN1 {
  font-family: sans-serif;
  font-size: 16pt;
  margin: auto;
  height: 100vh;
  scroll: auto;
  box-sizing: border-box; }

.cJDBFsuowWo {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 0.5em; }

.c2p8mQfNZel {
  height: 100%; }

.c3-m4RXpPa2, .c1uFCkH3tKJ {
  padding: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.c2py_lfs-KG {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box; }

.ce2Lj1mVDuc {
  max-width: 500px;
  padding: 1em;
  margin: auto;
  width: 100%;
  box-sizing: border-box; }

.cq7CgpEqdwJ {
  display: flex;
  flex-direction: column;
  height: 100%; }

@media screen and (min-width: 1000px) {
  .c2p8mQfNZel {
    display: flex; }
  .c3-m4RXpPa2 {
    padding: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; } }

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.c23ylO7ZA8Q {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em; }

.c1tLlfOkRyA {
  max-width: 500px;
  padding: 1em;
  margin: auto;
  width: 100%;
  box-sizing: border-box; }

