.cFAXvXTaJlY {
  font-size: 52pt;
  font-family: demofont, sans-serif;
  height: 12em;
  width: 100%; }

.c2ulvVOpLjN {
  font-size: 2em; }

.cjesN69IMN1 {
  font-family: sans-serif;
  font-size: 16pt;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.cJDBFsuowWo {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 0.5em; }

.c2p8mQfNZel {
  height: 100%;
  flex-grow: 1; }

.c3-m4RXpPa2, .c1uFCkH3tKJ {
  padding: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  page-break-after: always; }

.c1uFCkH3tKJ {
  height: 100%; }

.c2py_lfs-KG {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1; }

.ce2Lj1mVDuc {
  max-width: 500px;
  padding: 1em;
  margin: auto;
  width: 100%;
  box-sizing: border-box; }

.cq7CgpEqdwJ {
  display: flex;
  flex-direction: column;
  height: 100%; }

@media print {
  .c3-m4RXpPa2 {
    height: auto; } }

@media screen and (min-width: 1000px) {
  .c2p8mQfNZel {
    display: flex; }
  .c3-m4RXpPa2 {
    padding: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; } }

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  min-width: 350px; }

.c3oRqom7lfw {
  font-size: 5em; }

.c1N_dRcceV- {
  padding-top: 1em;
  display: flex;
  justify-content: flex-end; }

.c1kZq_0128F {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between; }

.c2hW09uX-8T {
  max-width: 500px;
  margin: auto;
  width: 100%; }

.c3dDkVKGyEV {
  position: relative;
  width: 100%;
  white-space: nowrap;
  margin: auto;
  height: 1.5em;
  text-align: center;
  max-width: 2em;
  overflow: hidden; }

.c2dND6zw-2Z {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1000px;
  box-sizing: border-box; }

.c1DkvKvLuYt {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%); }

.c3ty2SAJw0T {
  display: inline-block;
  overflow: visible;
  vertical-align: bottom;
  z-index: 1;
  flex-basis: 0;
  top: -0.1em;
  position: relative; }

.cXi8KW69u6n {
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1; }

.c3e4Fqd_8P0 {
  opacity: 0.3;
  width: 3em;
  display: inline-block;
  text-overflow: clip;
  white-space: nowrap;
  vertical-align: top; }

.c2HF_knaWHB {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }

.c3TEuZXOMTR, .c3Vtq6tm1U-, .c1OmqIvQnJ_, .c2m02-foCoL, .c2ZH3joT-iS, .c3g78UGXrYK, .c1ZK0Dh6lqa, .c3SIOeuK4gw p {
  font-family: menco, sans-serif;
  font-weight: 500;
  font-style: normal; }

.c1KeA-OW266, .c2VQp48jR5X, .c3SIOeuK4gw h2, .c3SIOeuK4gw h3, .c3SIOeuK4gw h4, .c3SIOeuK4gw h5, .c3SIOeuK4gw h6 {
  font-family: menco,sans-serif;
  font-weight: 700;
  font-style: normal; }

.cXugA8rbvUG {
  font-family: base-demofont, sans-serif; }

.c1jvvfnD3a7 {
  font-family: demofont, sans-serif; }

.c1KeA-OW266 {
  text-align: center; }

.c3TEuZXOMTR {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 0.02rem; }

.c3Vtq6tm1U- {
  font-size: 0.9rem;
  letter-spacing: 0.02rem; }

.c2dkaOacspC {
  width: 3em;
  pointer-events: none;
  text-align: center;
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%; }

.c1OmqIvQnJ_ {
  margin-bottom: 1em;
  font-size: 0.9rem; }

.c22JciRwILQ {
  font-size: 0.9em;
  opacity: 0.6; }

.c2m02-foCoL {
  font-size: 0.8em;
  display: block;
  margin-bottom: 0.5em; }

.c2VQp48jR5X {
  font-size: 1em; }

.c2ZH3joT-iS {
  font-size: 0.8em; }

.c3g78UGXrYK {
  font-size: 1em; }

.c1ZK0Dh6lqa {
  text-align: center;
  font-size: 0.8em;
  opacity: 0.6; }

.c3SIOeuK4gw p {
  line-height: 1.5em; }

.c13_Tjb-oZx {
  display: block;
  height: 76px;
  width: 76px;
  margin: auto; }

.c1y3OGabZV5 {
  display: none; }

@media print {
  .c1y3OGabZV5 {
    display: block; }
  .c22iZzUas1X {
    display: none !important; } }

.c2PW_0siLrD {
  transition-property: background-color, border-color, color, transform;
  transition-duration: 250ms;
  cursor: pointer;
  outline: none; }

.c2PW_0siLrD {
  display: block;
  padding: 1em;
  text-align: center;
  background-color: #4c5466;
  color: white;
  border-color: transparent; }
  .c2PW_0siLrD:hover, .c2PW_0siLrD:focus {
    transform: translate(0, -0.1rem); }
  .c2PW_0siLrD:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .c2PW_0siLrD:hover {
    background-color: #2b303a;
    color: white;
    border-color: transparent; }
  .c2PW_0siLrD:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: #2b303a; }

.c1dDysTQ2gB {
  display: none; }

.c1fLwJS4Zpn, .cr2NWBZXyHm, .c3FfhuT0o-v, .c1ul_LfRbxW {
  transition-property: background-color, border-color, color, transform;
  transition-duration: 250ms;
  cursor: pointer;
  outline: none; }

.c12lNGh8rkM {
  margin: 0.2rem;
  padding: 0.5rem 0.8rem;
  width: 12rem;
  text-align: center;
  position: relative; }

.c1fLwJS4Zpn {
  background-color: #4c5466;
  color: white;
  border-color: transparent; }
  .c1fLwJS4Zpn:hover, .c1fLwJS4Zpn:focus {
    transform: translate(0, -0.1rem); }
  .c1fLwJS4Zpn:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .c1fLwJS4Zpn:hover {
    background-color: #2b303a;
    color: white;
    border-color: transparent; }
  .c1fLwJS4Zpn:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: #2b303a; }

.cr2NWBZXyHm {
  background-color: #4392F1;
  color: white;
  border-color: transparent; }
  .cr2NWBZXyHm:hover, .cr2NWBZXyHm:focus {
    transform: translate(0, -0.1rem); }
  .cr2NWBZXyHm:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .cr2NWBZXyHm:hover {
    background-color: #106bd7;
    color: white;
    border-color: transparent; }
  .cr2NWBZXyHm:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: #2b303a; }

.c3FfhuT0o-v {
  background-color: #dd1c1a;
  color: white;
  border-color: transparent; }
  .c3FfhuT0o-v:hover, .c3FfhuT0o-v:focus {
    transform: translate(0, -0.1rem); }
  .c3FfhuT0o-v:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .c3FfhuT0o-v:hover {
    background-color: #991312;
    color: white;
    border-color: transparent; }
  .c3FfhuT0o-v:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: #2b303a; }

.c1ul_LfRbxW {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  background-color: #4c5466;
  color: white;
  border-color: transparent; }
  .c1ul_LfRbxW:hover, .c1ul_LfRbxW:focus {
    transform: translate(0, -0.1rem); }
  .c1ul_LfRbxW:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .c1ul_LfRbxW:hover {
    background-color: #2b303a;
    color: white;
    border-color: transparent; }
  .c1ul_LfRbxW:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: #2b303a; }

.c1Jcfw9C-rV {
  display: flex;
  margin: -0.2rem;
  margin-bottom: 1em; }

.cixfGLtw3TW {
  padding: 0.7em 1em;
  z-index: 1;
  margin-top: 0.5em;
  margin-bottom: 2em; }

.c2nhjCbZBuF {
  background-color: #f9cbca;
  color: #540b0a; }

.c3wg2UqJ08k {
  background-color: #f3f3f3;
  color: #414141; }

.clwKm5UI_dg {
  height: 4px;
  width: 100%;
  background-color: #e0ddcf;
  position: relative; }

.c3wx3DNoCkH {
  background-color: #4392F1;
  position: absolute;
  height: 100%;
  transition: width 150ms ease-in-out; }

.c3_qMuQpxj3 {
  transition: none; }

.c2n8fCr-0qJ {
  height: 4px;
  padding: 8px 0;
  cursor: pointer;
  margin-bottom: 1em; }

.c2WR1G6djPH {
  width: 16px;
  height: 16px;
  background-color: #4392F1;
  border-radius: 100%;
  position: relative;
  top: -6px;
  z-index: 0;
  border: 2px solid #106bd7;
  box-sizing: border-box;
  transition: left 150ms ease-in-out; }
  .c2WR1G6djPH:after {
    content: ' ';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #4392F1;
    opacity: 0.3;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: transform 150ms ease-in-out;
    z-index: -1; }
  .c2WR1G6djPH:hover:after {
    transform: translate(-50%, -50%) scale(2); }
  .c2WR1G6djPH.c3-UQRcoGF_ {
    transition: none; }
  .c2WR1G6djPH.c3-UQRcoGF_:after {
    transform: translate(-50%, -50%) scale(3) !important; }

.c2l5o5WyIYG {
  width: 48px;
  margin: 0 0.5em; }

.c3faZdZ4KW_ {
  display: none; }

.c9qKDCQMore {
  display: flex; }

.c1HfY0mgWgW {
  border: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: -3px;
  margin-bottom: -3px;
  height: calc(100% + 6px) !important; }
  .c1HfY0mgWgW:focus {
    border-top: 3px solid #4392F1;
    border-bottom: 3px solid #4392F1; }

.c3fnhR-gK52 {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
  background: transparent;
  outline: none;
  font-size: 1.2em; }
  .c3fnhR-gK52:focus {
    border-bottom: 3px solid #4392F1; }

.c1w76tr70WV, .c3bIO62nRcm {
  border: 0;
  transition: border 150ms ease-in-out, padding 150ms ease-in-out; }

.c1w76tr70WV, .c3bIO62nRcm {
  border-bottom: 1px solid #e0ddcf;
  padding-bottom: 1px; }
  .c1w76tr70WV:hover, .c3bIO62nRcm:hover {
    border-bottom-width: 2px;
    padding-bottom: 0px;
    border-bottom-color: #2b303a; }

.c1w76tr70WV {
  border-top: 1px solid #e0ddcf;
  padding-top: 1px; }
  .c1w76tr70WV:hover {
    border-top-width: 2px;
    padding-top: 0px;
    border-top-color: #2b303a; }

.c1w76tr70WV {
  height: 100%; }

.c3bIO62nRcm {
  margin-bottom: 1em; }

.cjT8vSS3Ks6 {
  transition-property: background-color, border-color, color, transform;
  transition-duration: 250ms;
  cursor: pointer;
  outline: none; }

.cjT8vSS3Ks6 {
  height: 4em;
  padding: 0;
  font: inherit;
  width: 4em;
  box-sizing: border-box;
  text-align: center;
  align-items: flex-start;
  display: block;
  background-color: transparent;
  color: #2b303a;
  border-color: transparent; }
  .cjT8vSS3Ks6:hover, .cjT8vSS3Ks6:focus {
    transform: translate(0, -0.1rem); }
  .cjT8vSS3Ks6:active {
    transition-duration: 100ms;
    transform: translate(0, 0.1rem); }
  .cjT8vSS3Ks6:hover {
    background-color: #d9d9d9;
    color: #2b303a;
    border-color: transparent; }
  .cjT8vSS3Ks6:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: transparent; }

.c19LmHIRyUr {
  opacity: 0.25; }

.c2EJq0ST80G {
  pointer-events: none; }

.c1xKd84PwaG {
  border: 0.05em solid #e0ddcf;
  border-bottom-color: white;
  position: relative;
  z-index: 1; }

.c1uOc3jEweq {
  text-align: center; }

.c1yLMwmpzXD {
  font-size: 2em; }

.c3CWdUtUjm1 {
  position: relative;
  height: 100%;
  overflow: auto;
  min-height: 6em; }

.c20Fa8CP8aF {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  box-sizing: border-box;
  margin-top: -0.05em;
  border-top: 0.05em solid #e0ddcf;
  border-bottom: 0.05em solid #e0ddcf; }

.c25JAGw54wX, .c20Fa8CP8aF {
  height: auto; }

.c3CLm9Tjt0m, .c2yP8gFQf9- {
  width: 4em;
  display: inline-block;
  vertical-align: top; }

.c3fcFcAETVZ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.c2yP8gFQf9- {
  height: 4em;
  padding-top: 1.5em;
  box-sizing: border-box; }

@media print {
  .c3CWdUtUjm1 {
    height: auto; } }

.c3_cERxwpC1 {
  width: 100%;
  margin: -1em;
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out; }

.c2AZ2J7w0He {
  display: block;
  width: 100% !important;
  padding: 0.25em;
  box-sizing: border-box;
  background-color: transparent;
  min-height: 6em;
  outline: none;
  color: inherit; }

.cOqwXnruoj- {
  background-color: #222;
  color: white; }

.c2WOxEWPJc3 {
  margin-bottom: 2em; }

@media print {
  .c2AZ2J7w0He {
    min-height: 80vh; } }

.cuNPVR4HSfe {
  font-size: 0.8em; }

.cNlmMWCBYsV {
  display: flex; }

.c1tLlfOkRyA {
  max-width: 500px;
  padding: 1em;
  margin: auto;
  width: 100%;
  box-sizing: border-box; }

a {
  transition-property: background-color, border-color, color, transform;
  transition-duration: 250ms;
  cursor: pointer;
  outline: none; }

a {
  background-color: transparent;
  color: #4392F1;
  border-color: transparent; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    background-color: #F0c808;
    color: #2b303a;
    border-color: transparent; }

.c2EUVgu6SAw {
  display: block; }

a {
  text-decoration: none;
  outline: none;
  display: inline-block; }

.c2CyGn5CyZF {
  background-color: #f3f3f3;
  color: #414141; }

.c9tpeyGUlNb {
  margin: auto;
  max-width: 500px;
  padding: 1em;
  text-align: center; }


/*# sourceMappingURL=styles.chunk.css.map*/