.error {
  padding-top: 2em;
}

.code {
  border-right: 1px solid black;
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

.container {
  display: flex;
}

.text {
  margin: 1em 0em;
  padding: 1em 0em;
  line-height: 1.2em;
}